<form th:fragment="form">
  <div class="modal fade" id="removeUser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title"><span class="fa fa-plus-circle"></span> Remove User</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Id User<span class="redColor">*</span></label>
            <div class="form-line">
              <input type="text" th:field="*{userId}" class="userIdRemove form-control" placeholder="" required>
            </div>

            <label>Nama Provinsi<span class="redColor">*</span></label>
            <select th:field="*{roleId}" class="roleIdRemoveform-control" required>
              <option value="">Pilih</option>
              <option
                      th:each="role : ${roler}"
                      th:value="${role.roleId}"
                      th:text="${role.namaRole}">
              </option>
            </select>

            <label>Username<span class="redColor">*</span></label>
            <div class="form-line">
              <input type="text" th:field="*{username}" class="usernameRemove form-control" placeholder="" required>
            </div>

            <label>Name User<span class="redColor">*</span></label>
            <div class="form-line">
              <input type="text" th:field="*{namaUser}" class="namaUserRemove form-control" placeholder="" required>
            </div>

            <label>Email<span class="redColor">*</span></label>
            <div class="form-line">
              <input type="text" th:field="*{email}" class="emailRemove form-control" placeholder="" required>
            </div>

            <label>Password<span class="redColor">*</span></label>
            <div class="form-line">
              <input type="text" th:field="*{password}" class="passwordRemove form-control" placeholder="" required>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="add-row" class="btn btn-success">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>